/** This is (also) essentially copied from Gibbu's "FrostedGlass" until I'm more (or even somewhat) proficient in coding CSS. 

So far, I've changed the core values of most things, aswell as the main image, colour scheme and minute bug/typo fixes. 

Also added a new font to fit the theme better. But you're free to choose what you want.

There's more to come.

I hope.

**/

/*
 * @name Curtain Call
 * @author DoQmentz#5232
 * @version 1.0.0
 * @description An epic shot of Jhin (and Camille) from the animation of "Awaken". Theme kept in purple-ish and blue-ish colours with bits of black and white.
 * @source https://github.com/DoQmentz/CurtainCall
*/

@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

@import url("https://doqmentz.github.io/CurtainCall/CurtainCall.css");

/* BlackBox tags */
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');

/* Old Windows titlebar - remove this @import if you wish to use default titlebar */
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");

:root {
  /* Background image variables */
  --background-image: url('https://i.imgur.com/VDeGBlg.jpg'); /* Main background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-blur: 0px; /* Blur intensity of --background-image | Must end in px | DEFAULT: 0px */
  --background-image-size: cover; /* Size of the background image | DEFAULT: cover | OPTIONS: cover, contain */
  --background-image-position: center; /* Position of background image | DEFAULT: center | OPTIONS: top, right, bottom, left, center */

  /* Popout & Modal variables */
  --popout-modal-image: var(--background-image); /* Background image for popouts and modals | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --popout-modal-blur: 0px; /* Blur intensity of --popout-modal-image | Must end in px | DEFAULT: 0px */
  --popout-modal-size: cover; /* Size of the popout/modal image | DEFAULT: cover | OPTIONS: cover, contain */
  --popout-modal-position: center; /* Position of popout/modal image | DEFAULT: center | OPTIONS: top, right, bottom, left, center */

  /* Home image variables */
  --home-button-image: url('https://i.imgur.com/utKVZSi.png'); /* My logo, feel free to change it | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --home-button-size: cover; /* Size of the home button image | DEFAULT: cover */
  --home-button-position: center; /* Position of home button image | DEFAULT: center */

  /* Brightness variables */
  --serverlist-brightness: 0.85; /* Brightness for serverlist | 0 - 1 (decimals allowed) | DEFAULT: 0.85 */
  --left-brightness: 0.82; /* Channels and DM list brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.82 */
  --middle-brightness: 0.8; /* Chat brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --right-brightness: 0.2; /* Members and Now Playing brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.2 */
  --popout-modal-brightness: 0.4; /* Brightness for popouts and modals | 0 - 1 (decimals allowed) | DEFAULT: 0.4 */

  /* Gradient variables */
  --gradient-primary: 85,26,139; /* DEFAULT: 85,26,139 */
  --gradient-secondary: 25,25,112; /* DEFAULT: 25,25,112 */
  --gradient-direction: 200deg; /* DEFAULT: 200deg */

  /* Tint variables */
  --tint-colour: 37,16,101; /* Colour of tint | DEFAULT: 37,16,101 */
  --tint-brightness: 0.32; /* Brightness of --tint-colour | 0 - 1 (decimals allowed) | DEFAULT: 0.32 */

  /* Other variables */
  --window-padding: 0px; /* Spacing around the Discord window | DEFAULT: 0px */
  --window-roundness: 0px; /* Roundness of Discord | DEFAULT: 0px */
  --scrollbar-colour: rgba(85,26,139,0.69); /* DEFAULT: rgba(85,26,139,0.69) */
  --link-colour: #A020F0; /* DEFAULT: #A020F0 */

  /*
    Visit https://fonts.google.com and select one to your liking.
    Now just follow this tutorial: https://imgur.com/a/CNbw7xC
  */
  --font: 'Reggae One', cursive;

  /* Do not touch */
  --update-notice-1: none;
}
